.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: rgb(68, 92, 128);
  height: 110px;
  padding: 20px;
  color: #fff;
  box-shadow: 0 6px 16px rgba(0,0,0,0.15);

}

.App-title {
  font-size: 2em;
  width: 400px;
  margin: 0 auto;
}

.titleImg {
  margin:  0px;
}

.titleImg img {
  width: 80px;
  margin-top: -15px;
}

.App-subtitle {
  font-size: 1.2em;
  color: #fff;
  margin-bottom: 15px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
